body{
    background-color: #83C4BE;
}


.creamos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.creamos img{
    width: 48px;
    margin-top: 60px;
    margin-left: 60px;

}

.cuentas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cuentas img{
    margin-left: 220px;
    width: 350px;
    margin-top: 0px;
}

h1{
    font-family: "Hammersmith One", sans-serif;;
    color:#EDF7F9;
    text-decoration: none;
    margin-top: 65px;
    margin-left: 0px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    font-size: 92px;
}

h2{
    font-family: "Hammersmith One", sans-serif;;
    color:#EDF7F9;
    text-decoration: none;
    margin-top: 65px;
    margin-left: 80px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style:normal;
    font-size: 35px;
}

p{
    font-family:"Montserrat", sans-serif;;
     text-decoration: none;
    font-size: 35px;
    color: #EDF7F9;
    margin-left: 80px;
    margin-top: 0px;
    font-weight: normal;
    font-style: normal;

}