body{
    background-color: #EDF7F9;
}

.red-robot{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.red-robot video{

    margin: 60px;
}

.red-robot img{
    margin-top: 25px;
}


.bajo-arena{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bajo-arena img{
    margin-top: 65px;
    margin-left: 60px;

}

.bajo-arena video{
    margin-top: 0px;
    margin-right: 100px;

}

h1{
    font-family: "Hammersmith One", sans-serif;;
    color:#016D77;
    text-decoration: none;
    margin-top: 65px;
    margin-left: 0px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
}

h2{
    font-family: "Hammersmith One", sans-serif;;
    color:#016D77;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

h3{
    font-family: "Hammersmith One", sans-serif;;
    color:#016D77;
    text-decoration: none;
    text-align: right;
    margin-top: 90px;
    margin-right: 100px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
}

p{
    font-family:"Montserrat", sans-serif;;
     text-decoration: none;
    font-size: 15px;
    color: #30343F;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: normal;
    font-style: normal;

}

h4{
    font-family:"Montserrat", sans-serif;;
    text-decoration: none;
    text-align: right;
    font-size: 15px;
    color: #30343F;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 100px;
    font-weight: normal;
    font-style: normal;

}