body{
    background-color: #83C4BE;
}


.progra{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.progra img{
    margin-top: 60px;
    margin-left: 60px;

}

.DerProgra img{
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;

}

h1{
    font-family: "Hammersmith One", sans-serif;;
    color:#EDF7F9;
    text-decoration: none;
    margin-top: 65px;
    margin-left: 0px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
}

p{
    font-family:"Montserrat", sans-serif;;
     text-decoration: none;
    font-size: 15px;
    color: #EDF7F9;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: normal;
    font-style: normal;

}