.volver {
    padding: 0.9375rem 2.5rem;
    margin: 0rem 0rem;
    background-color: #1B4D5A;
    border-radius: 0.625rem;
}

.botHome {
    display: inline-block;
}

.home-icon {
    width: 3.125rem;
    transition: transform 0.3s ease;
}

.home-icon:hover {
    transform: scale(1.1);
}

body {
    background-color: #EDF7F9;
}

.red-robot {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.red-robot video {
    margin: 3.75rem;
}

.red-robot img {
    margin-top: 1.5625rem;
}

.bajo-arena {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bajo-arena img {
    margin-top: 4.0625rem;
    margin-left: 3.75rem;
}

.bajo-arena video {
    margin-top: 0rem;
    margin-right: 6.25rem;
}

h1 {
    font-family: "Hammersmith One", sans-serif;
    color: #1B4D5A;
    text-decoration: none;
    margin-top: 4.0625rem;
    margin-left: 0rem;
    margin-bottom: 0.3125rem;
    font-weight: normal;
    font-style: normal;
    font-size: 2.5rem;
}

h2 {
    font-family: "Hammersmith One", sans-serif;
    color: #1B4D5A;
    text-decoration: none;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-bottom: 0.3125rem;
    font-weight: normal;
    font-style: normal;
    font-size: 1.25rem;
}

h3 {
    font-family: "Hammersmith One", sans-serif;
    color: #1B4D5A;
    text-decoration: none;
    text-align: left;
    margin-top: 5.625rem;
    margin-bottom: 0.3125rem;
    font-weight: normal;
    font-style: normal;
    font-size: 3.125rem;
}

p {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 0.9375rem;
    color: #30343F;
    margin-top: 0rem;
    margin-bottom: 1.25rem;
    font-weight: normal;
    font-style: normal;
}

h4 {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-align: left;
    font-size: 0.9375rem;
    color: #30343F;
    margin-top: 0rem;
    margin-bottom: 1.25rem;
    font-weight: normal;
    font-style: normal;
}