

.botonApdf{
    background-color: #EDF7F9;
    font-family: "Hammersmith One", sans-serif;;
    padding: 10px;
    margin-top: 100px;
    margin-left: 100px;
    display: inline-block;
    border-radius: 10px;
}

.botonApdf a {
    font-family: "Hammersmith One", sans-serif;
    color: #016D77;
    text-decoration: none;
    font-size: 20px;
}

.botonApdf:hover {
    background-color: #D8E1E3;
}

.botonContacto{
    background-color: #EDF7F9;
    font-family: "Hammersmith One", sans-serif;;
    padding: 10px;
    margin-top: 40px;
    margin-left: 675px;
    display: inline-block;
    border-radius: 10px;
}

.botonContacto a {
    font-family: "Hammersmith One", sans-serif;
    color: #016D77;
    text-decoration: none;
    font-size: 20px;
}

.botonContacto:hover {
    background-color: #D8E1E3;
}

body{
    background-color: #83C4BE;
     font-family: "Montserrat", sans-serif;
     font-style: normal;

}

h1 {
    font-family: "Hammersmith One", sans-serif;;
    color:#EDF7F9;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 85px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    font-size: 180px;
}

h2 {
    font-family: "Hammersmith One", sans-serif;;
    color:#016D77;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 100px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    font-size: 64px;
}

h3 {
    font-family: "Hammersmith One", sans-serif;;
    color:#016D77;
    text-decoration: none;
    text-align: center;
    margin: 20px;
    padding: 12px;
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
}

h4{
    font-family: "Hammersmith One", sans-serif;;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: #30343F;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-style: normal;
}

h5{
    font-family: "Hammersmith One", sans-serif;;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: #EDF7F9;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-style: normal;
}

h6 {
    font-family:"Montserrat", sans-serif;;
    font-style: normal;
    text-decoration: none;
    color:#EDF7F9;
    font-weight: normal;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 25px;
}

p{
    font-family:"Montserrat", sans-serif;;
    text-align: center;
     text-decoration: none;
    font-size: 15px;
    color: #30343F;
    margin-top: 0px;
    font-weight: normal;
    font-style: normal;

}

.container2 p{
    font-family:"Montserrat", sans-serif;;
    text-align: center;
    font-size: 15px;
    color: #EDF7F9;
    margin-top: 0px;
    font-weight: normal;
    font-style: normal;

}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

aside img{  
    width: 280px;
    margin-left: 150px;
    margin-top: 50px;
}



.card {
    margin-left: 100px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 10px;
    background-color: #EDF7F9;

}

.card:hover{
    background-color: #D8E1E3;
}

.card img{
    width: 360px;
    margin: 20px;
    margin-bottom: 35px;
}

.card2 {
    margin-left: 45px;
    align-self: center;
    display: inline-block;
    border-radius: 10px;
    background-color: #016D77;

}

.card2:hover{
    background-color: #01545C;
}

.card2 img{
    height: 196px;
    width: 360px;
    margin: 20px;
    margin-bottom: 30px;
}

.card3 {
    margin-left: 45px;
    display: inline-block;
    border-radius: 10px;
    background-color: #EDF7F9;

}

.card3:hover{
    background-color: #D8E1E3;
}

.card3 img{
    width: 336px;
    margin: 20px;
}